streamlit
pandas
numpy
scikit-learn
scikit-learn-intelex
imblearn
plotly
fastapi
uvicorn[standard]
websockets
redis
fakeredis
requests
joblib
python-multipart
python-jose
bcrypt
passlib[bcrypt]
sqlalchemy
lightgbm
xgboost
shap
Babel
kafka-python
